@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
//@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

div:focus{
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elip {  
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// main-container global css
.app-container {
  padding: 20px;
}

.shun-card {
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,.01);
  background-color: #fff;
}


/*添加css样式*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

